<div (paste)="onPaste($event)">
  <ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
    <ngx-dropzone-label>Add/Drop/Paste Word Search Image here!</ngx-dropzone-label>
  </ngx-dropzone>
  <angular-cropper #angularCropper *ngIf="!!imageUrl" [cropperOptions]="config" [imageUrl]="imageUrl"></angular-cropper>
</div>
<div *ngIf="!!imageUrl" class="conversion">
  <button class="parse" type="button" (click)="parseSelection()">Parse Selection as Table</button>
  <status *ngIf="!!status" [progress]="status.progress" [status]="status.status"></status>
</div>

<ng-container *ngIf="!!lettersGrid">
  <input #search class="search" type="text" (input)="onWordChange(search.value)" placeholder="word to search">
  <letters-table [highlights]="highlightWord" [lettersGrid]="lettersGrid"></letters-table>
</ng-container>

